<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns="urn:log4net">

  <threshold value="OFF" />
  <lockingModel type="Custom.Basic.Framework.Helper.LogBaseHelper" />

  <!--Error-->
  <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <File value="staticfiles\log\Error\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM&quot;\\&quot;yyyyMMdd&quot;.log&quot;" />
    <staticLogFileName  value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date %-5level]: %message%newline" />
    </layout>
  </appender>

  <!--INFO-->
  <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO" />
    </filter>

    <!--<param name="File" value="staticfiles\log\info\"/>
    <param name="MaximumFileSize" value="3000"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="Threshold" value="Debug"></param>
    -->
    <!--staticfiles\log\info\2019-04\20190401.log-->
    <!--
    <param name="DatePattern" value="yyyy-MM&quot;\\&quot;yyyyMMdd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>-->

    <filter type="log4net.Filter.DenyAllFilter" />
    <File value="staticfiles\log\Info\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM&quot;\\&quot;yyyyMMdd&quot;.log&quot;" />
    <staticLogFileName  value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date %-4level]:  %message%newline" />
    </layout>
  </appender>

  <!--DEBUG-->
  <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="DEBUG" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <File value="staticfiles\log\Debug\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM&quot;\\&quot;yyyyMMdd&quot;.log&quot;" />
    <staticLogFileName  value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date %-5level]:  %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="errorAppender" />
    <appender-ref ref="infoAppender" />
    <appender-ref ref="debugAppender" />
  </root>

</log4net>
