@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>
    admin  12345
</p>

<form action="/account/login" method="post">
    @Html.AntiForgeryToken()

    <p>
        <input type="text" name="userName" value="" />
     </p>
    <p>
        <input type="password" name="Password" value="" />
    </p>

    <p>
        <button type="submit" >登录</button>
    </p>
</form>